body {
    background-image: url('back.jpg') no-repeat center;
    min-height: 100vh;
}

.navbar {
    background-color: #2c3e50 !important;
}

.navbar-brand {
    font-weight: bold;
    color: white !important;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link:hover {
    color: white !important;
}

.login-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(117, 203, 83, 0.2);
}

.login-title {
    color: #2c3e50;
    margin-bottom: 25px;
    text-align: center;
}

.login-btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: #2c3e50;
    border: none;
}

.login-btn:hover {
    background-color: #1a252f;
}

.forgot-password {
    text-align: center;
    margin-top: 15px;
}

footer {
    background-color: #2c3e50;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    padding-bottom: 80px;
    padding-top: 50px;
    margin-bottom: 100px;



}

.logo-img {
    height: 40px;
    margin-right: 10px;
}
